<h2>Attempts</h2>

<p id="notice"><%= notice %></p>

<hr>

<div>
  <% @attempts.each do |attempt| %>
    <div class="content">
      <p><%= attempt.title %></p>
      <p><%= attempt.description %></p>
      <p><%= link_to 'Show', attempt %></p>
      <p><%= link_to 'Edit', edit_attempt_path(attempt) %></p>
      <p><%= link_to 'Delete', attempt, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'Create a New Attempt', new_attempt_path %>